{% extends 'mailbook/base.html' %}
    
{% block content %}
    <h1>This Page Does Not Exist</h1>
<div class="links">
    <a href="list" class="btn btn-primary">Back to Home </a>
</div>
    

{% endblock %}