{% extends 'mailbook/base.html' %}
    
{% block content %}
    <a href="/" class="btn btn-primary">Home </a>
    <a href="/list" class="btn btn-primary">List </a>
    <a href="/add" class="btn btn-primary">Add</a>
    <h1>Add Contact</h1>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}

    <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="control-label">{{ field.label }}</label> 
            <div class="">{{ field }}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Add Contact</button>
    </form>

{% endblock %}




