<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Seedstars MailBook</title>

    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static 'mailbook/sheets/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'mailbook/sheets/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'mailbook/sheets/jquery-2.1.1.min.js' %}"></script>
    
</head>
<body>
    <wrapper class="wrapper">
    
    {% block content %}
    {% endblock %}
    
    
    </wrapper>
</body>
</html>