{% extends 'mailbook/base.html' %}
    
{% block content %}
    <h1>Welcome to MailBook</h1>
<div class="links">
    <a href="list" class="btn btn-primary">List </a>
    <a href="add" class="btn btn-primary">Add</a>
</div>
    

{% endblock %}