{% extends 'mailbook/base.html' %}
    
{% block content %}
    <a href="/" class="btn btn-primary">Home </a>
    <a href="/list" class="btn btn-primary">List </a>
    <a href="/add" class="btn btn-primary">Add</a>
    <h1>Contact List</h1>
    
    {% if contacts %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
			{% for contact in contacts %}
            <tr>
                <td>{{contact.id}}</td>
                <td>{{contact.first_name}}</td>
                <td>{{contact.last_name}}</td>
                <td>{{contact.email}}</td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger">
        <p>No Contacts to Show</p>
    </div>
	{% endif %}
    
{% endblock %}