<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Seedstars MailBook</title>

    <!-- Bootstrap -->
    <link href="{% static 'maildir/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'maildir/jquery-2.1.1.min.js' %}"></script>
    
</head>

<body>
    <h1>Result</h1>
    <p>Congrats, Record was succesfully created.</p>
    
    

</body>


</html>